= render "shared/flash_message"
%nav
	= render 'shared/uploader',:url => "/members/upload_avatar",:type => "image"
	.avatar(title="点我更换头像")		
		= image_tag current_member.avatar
		%i.icon-upload-alt
	.info
		.name
			= current_member.name
		.gem.label
			= current_member.gem
	.brand.dancer
		17up
	.nav-item
		%a.active(href = "/members/sign_out" data-method="delete" rel="nofollow")
			%span.button.xs.glossy(data-icon=' ')
				%i.icon-off
#container
	%aside
		%ul#side_nav
			%li(rel = 'dashboard')
				%span.icon-leaf
				%div
					学院
				%i
			- if current_member.is_member?
				%li(rel = 'account')
					%span.icon-user
					%div
						会员
					%i
			/ %li(rel = "friend")
			/ 	%span.icon-globe
			/ 	%div
			/ 		好友
			/ 	%i
			/ %li(rel = "genius")
			/ 	%span.icon-magic
			/ 	%div
			/ 		兴趣
			/ 	%i
	%article			
		
- content_for :footer do
	#init.hide(data-js="Veggie")